doctype html
html( lang="en" )
	head
		meta( charset="utf-8")
		title #{site.title}
		meta( name="viewport" content="width=device-width, initial-scale=1.0" )
		meta( name="description" content="#{site.description}" )
		if reload
			meta( http-equiv="Refresh" content="#{reload}" )
		script( src="https://code.jquery.com/jquery-2.1.4.min.js" )
		script( src="//code.jquery.com/ui/1.10.4/jquery-ui.js" )
		script( src="//pilot.plus:3030/socket.io/socket.io.js" )
		script( src="https://js.stripe.com/v2/" )
		script( src="/assets/js/highstock.js" )
		script( src="/assets/js/buzz.min.js" )
		script( src="/assets/js/bootbox.min.js" )
		script( src="/assets/js/ZeroClipboard.min.js" )
		script( src="/assets/js/jquery.qrcode-0.7.0.min.js" )
		script( src="/assets/js/jquery.cycle.all.js" )
		script( src="/assets/js/jquery.timeago.js" )
		script( src="/assets/js/jquery.scrollbox.js" )
		script( src="/assets/js/jqueryTranslator.min.js" )
		script( src="/assets/js/jquery.easing.1.3.js" )
		script( src="/assets/js/jquery.sparkline.js" )
		script( src="/assets/js/jquery.mousewheel.min.js" )
		script( src="/assets/js/jquery.collision.js" )
		script( src="/assets/js/jquery.coords.js" )
		script( src="/assets/js/jquery.draggable.js" )
		script( src="/assets/js/jquery.gridster.js" )
		script( src="/assets/js/jquery.fractionslider.min.js" )
		script( src="/assets/js/emoji.min.js" )
		script( src="/assets/js/moment.min.js" )
		script( src="/assets/js/chart.js" )
		script( src="/assets/js/bootstrap-progressbar.js" )
		script( src="/assets/js/bootstrap-transition.js" )
		script( src="/assets/js/bootstrap-alert.js" )
		script( src="/assets/js/bootstrap-modal.js" )
		script( src="/assets/js/bootstrap-dropdown.js" )
		script( src="/assets/js/bootstrap-scrollspy.js" )
		script( src="/assets/js/bootstrap-tab.js" )
		script( src="/assets/js/bootstrap-tooltip.js" )
		script( src="/assets/js/bootstrap-popover.js" )
		script( src="/assets/js/bootstrap-button.js" )
		script( src="/assets/js/bootstrap-collapse.js" )
		script( src="/assets/js/bootstrap-carousel.js" )
		script( src="/assets/js/bootstrap-typeahead.js" )
		script( src="/assets/js/hammer.min.js" )
		script( src="/assets/js/xbbcode.js" )
		script( src="/assets/js/require.js" )
		script( src="/main.js" )
		link( rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" )
		link( href="/assets/css/font-awesome.css" rel="stylesheet" )
		link( href="/assets/css/bootstrap.min.css" rel="stylesheet" )
		link( href="/assets/css/bootstrap.css" rel="stylesheet" )
		link( href="/assets/css/emoji.css" rel="stylesheet" )
		link( href="/assets/css/bootstrap-responsive.css" rel="stylesheet" )
		link( href="/assets/css/bootstrap-progressbar-3.1.0.min.css" rel="stylesheet" )
		link( href="/main.css" rel="stylesheet" )
		link( rel="shortcut icon" href="/assets/ico/favicon.png" )
		link( href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css' )
		link( href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css' )
		link( href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css' )
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-45768290-2', 'pilot.plus');
			ga('send', 'pageview');
		meta( name="google-site-verification" content="lbfuC8bQfP-_LB-V-wshHNptSmp4YT1cIxHtnVKzrZo" )
		meta( name="msvalidate.01" content="1F01ED33A03AFE65B7E69808DFCAB452" )
	body

		div( class="globalheader" )
			div( class="lights" )
			div( class="topleft btnlogo" tabindex="1")
				div.label Options
				div.bars
					div( class="line one" )
					div( class="line two" )
					div( class="line three" )
			div( class="topright" )
			div.title
				div.centerlogo
					img( src="assets/img/pilotplus.png" class="hideinmobile" )
			div( class="header" )
				div( class="linktray" style="height: 30px;" )
					ul( class="keystones" )
					div( class="left scroller" )
					div( class="right scroller" )
				div( class="accounttray" )
					div( class="container" style="padding: 0px;" )
						ul
							li( id="prefs" )
								a( href="#" ) Preferences
							li( id="security" )
								a( href="#" ) Security
							li( id="logout" )
								a( href="logout" ) Logout
				div( class="financestray" )
					div( class="container" style="padding: 0px;" )
						ul
							li( id="deposit" )
								a( href="#" ) Deposit
							li( id="withdrawl" )
								a( href="#" ) Withdrawal
							li( id="history" )
								a( href="#" ) History
							li( id="referrals" )
								a( href="#" ) Referrals
				div( class="announcesplit" )
					div( class="container" )
						div( class="x" )
						div( class="y" )
						div( class="z" )
				div( class="announcexp" )
					div( class="container" )
						div( class="xpbar" )
				div( class="announcesuccess" )
					div( class="container" )
						ul
							li
								a( href="#" )
						span( class="label label-warning" )
				div( class="announcedanger" )
					div( class="container" )
						ul
							li
								a( href="#" )
						span( class="label label-warning" )
		div( class="menu" )
			div( class="sidebar-title" ) 
				span( data-translate="search" class="sidebar-search" )
					i( class="fa fa-search" )
					span.search
						input( class="symbolsearch" placeholder="Search" )
				div.sidebar-pin
					i( class="fa fa-toggle-off" )
			ul.sidebar-symbols
		div( class="hook" )
		if alert
			div( class="alert alert-!{alert.color}" style="margin: 0px auto 0px auto; width: 100%; padding: 10px; text-align: center;") #{alert.message}
		footer( class="footer" )
			p.
				Welcome to <a href="http://pilot.plus">pilot.plus</a>, the fastest binary trading system. Legally trade currencies in a secure environment, earning profitable returns. Please read the <a href="http://pilot.plus/tos">Terms of Use</a> before using this website.